html, body
  height: 100%
  font-family: 'Arial'
  background-color: black
  margin: 0

#app
  position: relative

#scoreboard
  position: absolute
  top: 15px
  left: 600px    /* the width of the canvas is 615px */
  width: 55px
  height: 55px
  line-height: 55px
  text-align: center
  color: white
  font-size: 25px
  background: rgba(255, 255, 255, .3)
  border: solid 1px white
  border-radius: 100%
 
#game-canvas
  position: absolute
  top: 55px
  background-color: rgba(0, 0, 100, .5)
  border: solid 1px white
