$s = {
  scoreboard_diameter: 60px
}

$c = {
  bg: black,
  canvas: rgba(0, 0, 100, .5),
  border: rgba(white, .5),
  scoreboard: rgba(white, .3),
  text: white
}

html, body
  height: 100%
  font-family: 'Arial'
  background-color: $c.bg
  padding: 15px
  margin: 0

#app
  position: relative

#game-canvas
  display: block
  background-color: $c.canvas
  border: solid 1px $c.border
  margin: 0 auto

#scoreboard
  position: relative
  top: 15px
  left: calc(50% + 290px)
  width: $s.scoreboard_diameter
  height: @width
  line-height: @width
  text-align: center
  font-size: "calc(%s / 2.5)" % @height
  color: $c.text
  background: $c.scoreboard
  border: solid 1px $c.border
  border-radius: 100%
 